/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body > main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 400px;
  height: 528px;
  margin: 0;
  position:fixed;
  background: red;
  /* left: 73%; */
  left: 70vw;
  padding: 5px;
}

img {
  height: 100px;
  width: 120px;
  /* border: 10px solid black; */
}

body {
  background-image: url(/img/download.png);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 60vw 100vh;
  position: fixed;
}

div {
  background-image: url(/img/download.png);
  background-size: 40vw 60vh;
  height: 55vh;
  width: 45vw;
  border: 3px solid red;
  background-repeat: no-repeat;
  margin: 200px 450px;
  padding: 50px;
  border-right: none;
  border-bottom: navy;
}
section {
  position: relative;
}

img:hover {
  transform: rotate(20deg);
  cursor: pointer;
}

img {
  transition: all .2s ease-in-out;
  max-width: 100vmin;
  max-height: 70vmin;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

